html {
    background: #6DcD6D;
}
#container {
}
h1 {
    font: 900 3em Georgia, "Times New Roman", serif;
    margin: 30px 30px;
    text-align: center;
    color: #FFF;
    text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
}
textarea {
    margin: 10px;
    background: #b8ff90;
}
input[type=text] {
    background: #d8ffb0;
    border-color: #619b61;
}
button {
    background: #A2F0D8;
    padding: 2px 5px;
    border: outset 4px #56D2CF;
}
button:active {
    border: inset 4px #66C2FF;
}
button:disabled {
    border: outset 4px #9AF8FF;
    background: #C2F0FF;
}
#buttons {
    margin: 20px;
    width: 340px;
}
.paragraph {
    margin: 20px;
    background: #a1dfa1;
    border: double 3px #417b41;
    padding: 5px;
}
input[type="radio"] {
    font-family: Arial, Sans-serif;
}
footer {
    clear: both;
    background: #090;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    position: fixed;
    padding: 5px 0;
    bottom: 0px;
    width: 100%;
    opacity: 0.72;
}
footer p {
    color: #004C1A;
}
#cop {
    float: right;
    margin-right: 25%;
}
#menu {
    margin: -20px 50px 10px 50px;
}
#menu a {
    padding: 5px;
}
#selectedMenu {
    background: #92d8ff;
    border: 2px solid #417b41;
}
