#relations {
    margin: 0 16px 45px 16px;
    background: #FFFFB8;    
    border: double 3px #FFDB4D;
    padding: 16px;
}
#relations * {
    display: inline;
}
#relations button {
    margin-bottom: 16px;
}
#relations input {
    margin-top: 9px;
    margin-bottom: 9px;
}
canvas {
    border: 1px solid black;
    background: #FFF;
}